@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="col-md-4 offset-4">
    <br />
    <br />
    <img src="~/images/AccNegado.png" />

    
</div>
<div class="col-md-12 offset-3">
<h2>No estas autorizado para ejecutar esta acción!</h2>
</div>
