@model Tienda.Data.Entities.City

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Esta seguro de borrar?</h3>
<div>
    <partial name="_CityDetails" />

    <form asp-action="DeleteCity">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="DetailsState" asp-route-id="@Model.state.Id" class="btn btn-success" />Regresar</a>
    </form>
</div>
